@font-face {
    font-family: MarioBross;
    src: url(../font/SuperMario256.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;

    font-family: MarioBross;

    main {
        background-image: url(../img/background.png);
        background-position: 0px;
        background-repeat: no-repeat;
        background-size: cover;

        width: 100%;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 100px;

        #logo {
            width: 700px;

            animation: pulse 0.7s linear infinite;
            animation-direction: alternate;
        }

        #playersGame {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 50px;

            div {
                display: flex;
                align-items: center;
                gap: 30px;

                cursor: pointer;

                position: relative;

                img {
                    width: 20px;
                    animation: pulse 0.7s linear infinite;
                    animation-direction: alternate;

                    position: absolute;

                    left: -40px;
                    opacity: 0;

                }

                h2 {
                    font-size: 30px;
                }

                &:hover img {
                    opacity: 1;
                }
            }
        }

        @keyframes pulse {
            0% {
                transform: scale(1);
            }

            100%{
                transform: scale(1.2);
            }
        }

        h1 {
            font-family: MarioBross;
        }
    }
}



